IndexIgnore */*
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/public
RewriteRule ^public/css/(.*)$ app/public/css/$1 [L]
RewriteRule ^public/js/(.*)$ app/public/js/$1 [L]
RewriteRule ^public/fonts/(.*)$ app/public/fonts/$1 [L]
RewriteRule ^public/favicon.ico$ app/public/favicon.ico [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php$1 [L,QSA]
